{% extends "blog/base.html" %}
{% load thumbnail %}
{% block contents %}
    <div class="container my-4">
        <h1 class="text-center mb-4">Galleries</h1>
        <div class="row g-3">
            {% for gallery in galleries %}
                <div class="col-md-4">
                    <a href="{% url 'galleries:details' gallery.id %}" class="text-decoration-none">
                        <div class="card shadow-sm h-100">
                            <div class="card-body">
                                <h5 class="card-title text-primary text-center">{{ gallery.title }}</h5>
                            </div>
                        </div>
                    </a>

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
