{% extends "blog/Base.html" %}
{% block contents %}
    <h1>Register User</h1>
    <form action="{% url 'posts:register' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

{#    Displaying messages depending of the outcome of the view #}
    {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% endblock %}
